
<form [formGroup]="bookForm" (ngSubmit)="detailsave()">
    <div *ngIf="book">
        <label>
            書名：<input formControlName="name">
        </label><br />
        
        <label>
            作者：<input formControlName="writer">
        </label><br />

        <!-- <label >
            標籤：
            <div *ngFor="let tag of tags">
                <input type ="checkbox" [checked]="tagchick(tag.id)" (click)="checkboxselect(tag.id)">{{tag.name}}
            </div>
        </label><br /> -->
        
        <button type="submit">save</button>
        <button type="button" (click)="deletebook()">delete</button>
        
        
    </div>
</form>